---
layout: single
title: This page is for testing chatbot
description: Archive Index of VietAnhDev.com
permalink: /testchat/
---

<div class="tags-expo">
  <div class="tags-expo-list">
    {% for tag in site.categories %}
    <a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a>
    {% endfor %}
  </div>
  <hr/>
  <div class="tags-expo-section">
    {% for tag in site.categories %}
    <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
    <ul class="tags-expo-posts">
      {% for post in tag[1] %}
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
      <li>
        {{ post.title }} <br/>
      <small class="post-date">{{ post.date | date_to_string }}</small>
      </li>
      </a>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>


<style type="text/css">

  .chatbox-wrapper * {
    font-size: 14px;
    outline: none;
  }
  .chatbox-wrapper {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 90%;
    max-width: 300px;
    border: 1px solid rgb(64, 128, 255);
    border-radius: 4px 4px 0 0;
    z-index: 9999;
  }
  .chatbox-wrapper .title {
    font-family: "Maven Pro",-apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    padding: 10px;
    color: #fff;
    background: rgb(64, 128, 255);
  }
  .chatbox-wrapper .toggle-chat {
    float: right;
    border: 1px dashed #fff;
    border-radius: 10px;
    padding: 0 5px;
    cursor: pointer;
  }
  .chatbox-wrapper .messages {
    display: none;
    box-sizing: border-box;
    height: 320px;
    padding: 10px 0;
    background-color: #FFFFFF;
    box-sizing: border-box;
    overflow: auto;
  }
  .chatbox-wrapper .message {
    display: flex;
      justify-content: space-between;
  }
  .chatbox-wrapper .message .content{
    font-family: "Maven Pro",-apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
      margin-top: 6px;
      overflow: auto;
      flex-wrap: wrap;
      word-wrap: break-word;
  }
  .chatbox-wrapper .message.u1 .content {
      background: rgb(64, 128, 255);
      padding: 5px 10px;
      color: #fff;
      border-radius: 0 20px 20px 0;
      margin-right: 20px;
  }
  .chatbox-wrapper .message.u2 .content {
      background: #F1F0F0;
      padding: 5px 10px;
      color: #000;
      border-radius: 20px 0 0 20px;
      margin-left: 20px;
  }
  .chatbox-wrapper .sendbox {
    display: none;
    position: relative;
    height: 46px;
    border-top: 1px solid rgb(64, 128, 255);
  }
  .chatbox-wrapper .sendbox input{
    padding: 10px;
    width: 100%;
    height: 100%;
    padding-right: 50px;
    box-sizing: border-box;
    border: none;
    word-wrap: break-word;
  }
  .chatbox-wrapper .sendbox .send i{
    font-size: 18px;
  }
  .chatbox-wrapper .sendbox .send {
    width: 46px;
    position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      border: none;
      background: none;
      padding: 10px;
      color: #555;
  }
  .chatbox-wrapper .sendbox .send:hover {
      color: #333;
  }

  @media all and (max-width: 480px) {
    .chatbox-wrapper {
      width: 100%;
      max-width: initial;
      right: 0;
    }
  }
</style>
<!--   `<div class="chatbox-wrapper">
    <div class="title">
      <i class="fa fa-user-o" aria-hidden="true"></i>
      <span>Jarvis</span>
      <span class="toggle-chat" role="button">Close</span>
    </div>
    <div class="messages">
    <div class="sendbox">
      <input type="text" class="newmessage" placeholder="type and enter">
      <button class="send"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </div>
  </div>`
 -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <script type="text/javascript">
  $(document).ready(function() {

    // Append chat into page
    var chatHtml = '<div class="chatbox-wrapper">';
    chatHtml += '<div class="title">';
    chatHtml += '<i class="fa fa-user-o" aria-hidden="true"></i>';
    chatHtml += '<span>Jarvis</span>';
    chatHtml += '<span class="toggle-chat" role="button">Open</span>';
    chatHtml += '</div>';
    chatHtml += '<div class="messages"></div>';
    chatHtml += '<div class="sendbox">';
    chatHtml += '<input type="text" class="newmessage" placeholder="type and enter">';
    chatHtml += '<button class="send"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>';
    chatHtml += '</div>';
    chatHtml += '</div>';
    $('body').append(chatHtml);


    // Say Hello
    // addMessage(1, 'Hello! I\'m the chatbot of this page.');
    // addMessage(1, 'If you want to search something or ask about this page, feel free to ask me. I can try to answer your questions or send them to my boss - Viet Anh.');
    addMessage(1, 'Chào bạn! Tôi là chatbot của trang này.');
    addMessage(1, 'Bạn có thể đặt câu hỏi hoặc trò chuyện tại đây. Chatbot đang được hoàn thành nên có thể chưa đầy đủ chức năng hoặc gặp nhiều lỗi nhỏ.');

    // Scroll to last message
    $('.messages').animate({scrollTop: $('.messages').prop("scrollHeight")}, 500);

    // Bind keys
    $(document).keypress(function(e){
        if (e.which == 13 && $(".chatbox-wrapper .newmessage").is(":focus")){
            $(".chatbox-wrapper .send").click();
            return false;
        }
    });

    // Click send button
    var currUser = 1;
  $('.chatbox-wrapper .send').click(function() {
      var message = $('.sendbox .newmessage').val();
      addMessage(2, message);

      // Scroll to last message
      $('.messages').animate({scrollTop: $('.messages').prop("scrollHeight")}, 500);
      $('.sendbox .newmessage').val('');

      $.ajax({
          url: "https://vbot-api.herokuapp.com/chat",
          type: "POST",
          crossDomain: true,
          data: {'message': message},
          dataType: "json",
          success: function (data) {
              console.log(data);
              addMessage(1, data.reply);
          },
          error: function (xhr, status) {
              alert("error");
          }
      });

      // Scroll to last message
       $('.messages').animate({scrollTop: $('.messages').prop("scrollHeight")}, 500);
    });

    // Click chat title bar
    $('.chatbox-wrapper .title').click(function() {
      if($('.chatbox-wrapper .toggle-chat').html() == 'Close') {
        $('.chatbox-wrapper .toggle-chat').html('Open');
      } else {
        $('.chatbox-wrapper .toggle-chat').html('Close');
      }
      $('.chatbox-wrapper .messages').slideToggle(200);
      $('.chatbox-wrapper .sendbox').slideToggle(200);
    });

    function addMessage(userId, message) { 
      if (userId == 1) {
        $('.messages').append('<div class="message u1"><span class="content">'+message+'</span><span class="ff"></span></div>');
      } else {
        $('.messages').append('<div class="message u2"><span class="ff"></span><span class="content">'+message+'</span></div>');
      }
    }

    window.addEventListener("load",function() {
        setTimeout(function(){
            // This hides the address bar:
            window.scrollTo(0, 1);
        }, 0);
    });

  });
  </script>